  
.modal-buttons{
    display: flex;
    justify-content: space-between;
}

#outer-modal{
    display: none;
    align-items: center;
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: auto;
    
}

.modal-dialog {    
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;    
}

.modal {
    width: 500px;
    margin: 0px auto;
    padding: 20px;  
    border-radius: 2px;
    box-shadow: 0 2px 8px 1px;
    transition: all 0.2s ease-in;    
  }
  

.home-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.home-content{
    display: flex;    
    justify-content: center;
}
.tasks-table{
    width: 85%;  
    margin-bottom: 50px;
}
