<html>
    <head>
            <meta name="author" content="www.twitter.com/cheeriottis">
            <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

           <link rel="stylesheet" href="./static/home.css">

    </head>
    <body>
    <div class="title">Tasks</div>
    <div class="container">
        
        <ul>
            <li>Nome da Tarefa</li>
            <li>Descrição</li> 
        </ul> 
    </div>
    <div class="title">Add Task</div>
    <form>
        
        <p>Nome da Tarefa</p>
        <input id="name" type="text"/>
        <p>Descrição</p> 
        <textarea name="comentário" rows="10" cols="40"></textarea>
        <a href="#" class="action-button shadow animate green">Add</a>
    </form>
    </body>
</html>