<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./static/index.css">

    </head>
    <body>
        <div class="form">
                <form class="form_signin">
                        <div id="text">Sig in!</div>
                        <div class="form_signin_input">
                            <input id="signin_nome" type="text" placeholder="Nome"/>
                            <div class="line"></div>
                            <input id="signin_pass" type="password" placeholder="Password"/>
                            <div class="line"></div>
                            <button class="form_signin_button">SIGN IN</button>
                     </div>
                </form>
                
                <div class="separation"></div>

                <form class="form_signup">
                    <div id="text">Sign Up!</div>
                        <div class="form_signup_input">
                            <input id="sigup_nome" type="text" placeholder="Nome"/>
                            <div class="line"></div>
                            <input id="sigup_cpf" type="text" placeholder="CPF"/>
                            <div class="line"></div>
                            <input id="sigup_password" type="password" placeholder="Password"/>
                            <div class="line"></div>
                            <button class="form_signup_button">SIGN UP</button>
                        </div>
                </form>
        </div>
    </body>
</html>